@font-face {
    font-family: snes-font;
    src: url(fontes/SnesItalic-1G9Be.ttf);
}

body{
    margin: 0 10%;
    background-color: #f35f40
}

.container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr 1fr;
    width: 80vw;
    height: 100vh;
    grid-template-areas: "logo menus" "conteudo conteudo" "rodape rodape";
    background-color: #1c1c1c;
}

.divLogo{
    display: flex;
    grid-area: logo;
    align-content: center;
    justify-content: center;
    border-bottom: 5pt solid white;
}

#imgLogoMenu{
    width: 150px;
    height: 150px;
}

.divMenu{
    display: flex;
    grid-area: menus;
    align-items: center;
    justify-content: space-around;
    border-bottom: 5pt solid white;
}

.menu-item{
    display: flex;
    font-size: 30pt;
    font-family: snes-font;
    color: white;
    border-left: 5pt solid white;
}

.menu-item:hover{
    cursor: pointer;
    color: #f35f40;
}

.divContent{
    display: flex;
    grid-area: conteudo;
    align-items: center;
    justify-content: space-around;
}

.divRodape{
    display: flex;
    flex-direction: column;
    grid-area: rodape;
    align-items: center;
    justify-content: center;
    border-top: 5pt solid white;
}

#imgLogoRodape{
    width: 100px;
    height: 100px;
}

#textoRodape{
    font-size: 15pt;
    font-family: snes-font;
    color: white;
}
