body.color{
    background-color:#1b1b1b ; 
}

html,body{
    margin:0;
}

.itens-menu{
    font-size: 15pt;
    display: flex;
}

section#formAdicionaSaldo{
    clear: both;
    text-align: center;
    height: 310px;
    background-color:#1b1b1bfd;
}

footer#rodape div.rodapefinal{
    top: 600px;
    color: white;
    text-align: center;
    font-family: times, sans-serif;
}

h1{
    font-size: 25pt;
    color:white;
    text-align: center;
}

#cvalor{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    width: 20%;
    margin-top: 2%;
    margin-bottom: 1%;
}

h2{
    color:white;
    text-align: center;
}

label{
    color:white;
    margin-right: 30px;
    font-size: 16pt;
}

#btnConfirma{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    margin-top: 20px;
    background-color:#f35f40;
    color: black;
    border: none;
    border-radius: 10px;
}

#btnConfirma:hover{
    background-color:white;
    color: #f35f40;
}